################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/repo/v17
/HotelUArcClean/HotelUArcClean.API/obj
/HotelUArcClean/HotelUArcClean.API/bin/Debug/net9.0
/HotelUArcClean/HotelUArcClean.Application/bin/Debug/net9.0
/HotelUArcClean/HotelUArcClean.Application/obj
/HotelUArcClean/HotelUArcClean.Domain/bin/Debug/net9.0
/HotelUArcClean/HotelUArcClean.Domain/obj/Debug/net9.0
/HotelUArcClean/HotelUArcClean.Domain/obj
/HotelUArcClean/HotelUArcClean.Infrastructure/bin/Debug/net9.0
/HotelUArcClean/HotelUArcClean.Infrastructure/obj
/HotelUArcClean/.vs
/HotelUArcClean.Infrastructure/obj/Debug/net9.0/HotelUArcClean.Infrastructure.AssemblyInfo.cs
/HotelUArcClean.Infrastructure/obj/Debug/net9.0/HotelUArcClean.Infrastructure.AssemblyInfoInputs.cache
/HotelUArcClean.Infrastructure/obj/Debug/net9.0/HotelUArcClean.Infrastructure.assets.cache
/HotelUArcClean.Infrastructure/obj/Debug/net9.0/HotelUArcClean.Infrastructure.csproj.AssemblyReference.cache
/HotelUArcClean.Infrastructure/obj/Debug/net9.0/HotelUArcClean.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/HotelUArcClean.Infrastructure/obj/HotelUArcClean.Infrastructure.csproj.nuget.dgspec.json
/HotelUArcClean.Infrastructure/obj/project.assets.json
/HotelUArcClean.Infrastructure/obj/project.nuget.cache
